/* --------------------------------- */
/* ----- Basic Setup -----*/
/* --------------------------------- */

@font-face {
  font-family: "Mona Sans";
  src: url("assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("assets/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --h1: 3.5rem;
  --h2: 3rem;
  --h3: 2.145rem;
  --h4: 1.5rem;
  --text-large: 1.6rem;
  --text-medium: 1.275rem;
  --text-small: 1.125rem;

  --gradient-brand: radial-gradient(
      at 60% 31%,
      rgb(255, 131, 139) 0px,
      transparent 50%
    ),
    radial-gradient(at 48% 98%, rgba(0, 255, 166, 0.707) 0px, transparent 50%),
    radial-gradient(at 84% 67%, rgb(255, 129, 125) 0px, transparent 50%),
    radial-gradient(at 16% 47%, rgb(255, 90, 112) 0px, transparent 50%),
    radial-gradient(at 73% 11%, rgb(115, 255, 225) 0px, transparent 50%),
    radial-gradient(at 49% 37%, rgba(255, 249, 89, 0.695) 0px, transparent 50%),
    radial-gradient(at 70% 21%, rgba(58, 255, 186, 0.715) 0px, transparent 50%);
  --easing: cubic-bezier(0.86, 0, 0.07, 1);

  --site-max-width: 1280px;
  --gutter-nano: 0.5rem;
  --gutter-micro: 1rem;
  --gutter-x-small: 1.5rem;
  --gutter-small: 2rem;
  --gutter-medium: 2.5rem;
  --gutter-large: 3rem;
  --gutter-x-large: 6rem;
  --gutter-huge: 12rem;

  --scroll-padding: 4.375rem;
  --radius: 85px;

  --day: #397ab0;
  --night: #1c202c;
  --sun: #f2c426;
  --moon: #c5c8cf;
  --cloud-front: #fff;
  --cloud-back: #a5c5dc;
  --star: #fff;
  --duration: 1s;
  --easing-new: cubic-bezier(0.65, 0, 0.34, 1.17);
  --easing-clouds: cubic-bezier(0.65, 0, 0.35, 1);
}

body.dark {
  --bg-color-primary: #0c0a0a;
  --bg-color-secondary: #161211;
  --important: #fff;
  --sub: #c3c3c3;
  --body: #989898;
  --border: #c0c0c015;
  --border-dark: #c0c0c02f;
  --gradient-border: linear-gradient(to left bottom, #777, #0e0d0d);
  --shadow: 0 1rem 1rem #00000040;
}

body.light {
  --bg-color-primary: #fbfbfb;
  --bg-color-secondary: #ffffff;
  --important: #000;
  --sub: #111;
  --body: #585b63;
  --border: #62626234;
  --border-dark: #5e5e5e1f;
  --gradient-border: linear-gradient(to left bottom, #000000c6, #0e0d0d00);
  --shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Mona Sans", sans-serif;
  box-sizing: border-box;
  scroll-padding-top: var(--scroll-padding);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar { 
  display: none; 
}

@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 645px) {
  html {
    font-size: 80%;
  }
}

body {
  font-size: var(--text-medium);
  color: var(--body);
  background-color: var(--bg-color-primary);
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* Improve media defaults */

picture,
svg,
img {
  display: block;
  max-inline-size: 100%;
  object-fit: contain;
}

textarea {
  resize: none;
}

/* --------------------------------- */
/* ----- Typography -----*/
/* --------------------------------- */

input,
textarea,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
.h4 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
.h4 {
  font-stretch: 125%;
  line-height: 1.2;
  color: var(--important);
}

.h1 {
  font-size: var(--h1);
}

.h2 {
  font-size: var(--h2);
  text-align: center;
}

.h2 span {
  display: block;
  font-size: 17px;
  margin-top: 8px;
}

.h3 {
  font-size: var(--h3);
}

.h4 {
  font-size: var(--h4);
}

.text-center {
  text-align: center;
}

.d-inline {
  display: inline-block;
}

@media (max-width: 845px) {
  :root {
    --h1: 2.845rem;
    --h2: 2.45rem;
    --h3: 1.85rem;
  }
}

@media (max-width: 700px) {
  :root {
    --h1: 2.545rem;
  }
}

@media (max-width: 545px) {
  :root {
    --h1: 2.4rem;
    --text-large: 1.5rem;
  }
}

@media (max-width: 485px) {
  :root {
    --h1: 2.145rem;
    --h2: 1.875rem;
    --h3: 1.6rem;
    --text-large: 1.345rem;
  }
}

/* --------------------------------- */
/* ----- Utilities -----*/
/* --------------------------------- */

/* Center and constrain the width of page sections */

.container {
  max-inline-size: var(--site-max-width);
  margin-inline: auto;
}

@media (max-width: 1375px) {
  :root {
    --site-max-width: 1160px;
  }
}

@media (max-width: 1275px) {
  .container {
    padding-inline: var(--gutter-small);
  }
}

@media (max-width: 1200px) {
  .container {
    padding-inline: var(--gutter-medium);
  }
}

@media (max-width: 575px) {
  .container {
    padding-inline: var(--gutter-small);
  }
}

/* disable scroll when menu is opened */

.lock-screen {
  overflow-y: hidden;
}

/* hides visually and removes from accessibility tree  */

.hidden {
  visibility: hidden;
  transform: translateX(-100%);
}

.transform {
  transform: translateY(6rem);
  opacity: 0;
}

.shown {
  transition: 0.1s;
  color: lightgrey;
}

/* --------------------------------- */
/* ----- Components -----*/
/* --------------------------------- */

.btn {
  font-size: 1.35rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding: 18px 60px;
  border-radius: var(--gutter-nano);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

@media (max-width: 700px) {
  .btn {
    padding: 16px 48px;
  }
}

@media (max-width: 485px) {
  .btn {
    font-size: 1.2rem;
    padding: 14px 38px;
  }
}

.btn-cta {
  color: var(--bg-color-primary);
  background-color: var(--important);
}

body.dark .btn-cta:hover,
body.dark .btn-cta:focus {
  box-shadow: #ffffff40 0 0 0 var(--gutter-nano);
}

body.light .btn-cta:hover,
body.light .btn-cta:focus {
  box-shadow: #07070733 0 0 0 var(--gutter-nano);
}

body .btn-cta.btn-disabled:hover,
body .btn-cta.btn-disabled:focus {
  cursor: auto;
  box-shadow: unset !important;
}

.btn-secondary {
  border: 1px solid var(--border-dark);
  color: var(--important);
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: var(--important);
  box-shadow: #ffffff40 0 0 0 var(--gutter-nano);
}

body.light .btn-secondary:hover,
body.light .btn-secondary:focus {
  box-shadow: #07070733 0 0 0 var(--gutter-nano);
}

.link {
  display: inline-block;
  font-weight: 600;
  font-size: var(--text-small);
  padding: var(--gutter-nano) 0;
  text-decoration: none;
  color: var(--important);
  position: relative;
}

.link.inline-link {
  font-size: initial;
  padding: 0;
}

.link::after,
.link::before {
  content: "";
  width: 100%;
  height: 1px;
  margin-block-start: var(--gutter-nano);
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: 300ms;
}

body.dark .link::before {
  background-color: #d3d3d357;
}

body.dark .link::after {
  background-color: white;
}

body.light .link::before {
  background-color: lightgray;
}

body.light .link::after {
  background-color: black;
}

.link::after {
  background-color: white;
  transform-origin: left;
  transform: scaleX(0);
}

.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
}

/* --------------------------------- */
/* ----- Layout -----*/
/* --------------------------------- */

section:not(:first-child) {
  padding-block-start: var(--gutter-huge);
}

section:first-child {
  padding-block-start: 7rem;
}

@media (max-width: 885px) {
  :root {
    --gutter-huge: 8rem;
    --gutter-x-large: 4rem;
  }
}

main {
  border-top: 1px solid var(--border);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-color: var(--bg-color-primary);
  transform: translateY(calc(-1 * var(--radius)));
}

@media (max-width: 1185px) {
  :root {
    --radius: 45px;
  }
}

/* --------------------------------- */
/* ----- Menu Button -----*/
/* --------------------------------- */

.menu-btn-container {
  position: fixed;
  width: 100%;
  top: var(--gutter-x-small);
  left: 0;
  z-index: 4;
}

.menu-btn-container .container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.menu-btn {
  display: inline-block;
  border: 1px solid var(--border-dark);
  inline-size: 132px;
  padding-block: var(--gutter-nano);
  border-radius: var(--gutter-large);
  text-decoration: none;
  background-color: var(--bg-color-secondary);
  color: var(--important);
  cursor: pointer;
}

.menu-btn,
.nav-items a {
  font-stretch: 125%;
  font-weight: 900;
}

/* --------------------------------- */
/* ----- Navigation -----*/
/* --------------------------------- */

.nav {
  min-block-size: 100vh;
  position: fixed;
  width: 100%;
  background-color: #282828;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  transition: 450ms var(--easing);
  z-index: 3;
}

body.light .nav {
  background-color: #b6b6b6;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(255 255 255) 0%, rgb(182 182 182) 99.4%);
}

.nav-items {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%) translateX(-25%);
  list-style-type: none;
}

.nav-item:not(:last-child) {
  margin-block-end: var(--gutter-x-small);
}

.nav-item a {
  display: inline-block;
  font-size: var(--h2);
  text-decoration: none;
  color: #fff;
}

body.light .nav-item a {
  color: #1a1a1a
}

.nav-item a::after {
  content: "";
  display: block;
  block-size: var(--gutter-nano);
  width: 100%;
  transform: scale(0);
  transform-origin: left;
  background-color: white;
  transition: transform 250ms var(--easing);
}

body.light .nav-item a::after {
  background-color: #1a1a1a
}

.nav-item a:hover::after,
.nav-item a:focus::after {
  transform: scale(1);
}

/* --------------------------------- */
/* ----- Header -----*/
/* --------------------------------- */

.header {
  min-block-size: calc(100vh + var(--radius));
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body.dark .header {
  background-image: linear-gradient(#0000008b, #000000e6),
    url("assets/images/hero-bg.webp");
}

body.light .header {
  background-image: linear-gradient(#ffffffa2, #ffffffe6),
    url("assets/images/hero-bg.webp");
}

.header-textbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.h1 span {
  display: block;
}

.header-textbox .sub {
    font-size: 24px;
    margin-top: 7px;
}

.header-text {
  font-size: var(--text-large);
  font-weight: 400;
  max-inline-size: 745px;
  margin-block-start: var(--gutter-micro);
  margin-block-end: var(--gutter-medium);
}

@media (max-width: 1200px) {
  .header-text {
    max-inline-size: 685px;
  }
}

@media (max-width: 845px) {
  .header-text {
    max-inline-size: 585px;
  }
}

.language-switcher {
  display: inline-flex;
  gap: var(--gutter-x-small);
}

.language-switcher a {
  display: flex;
  align-items: center;
}

.language-switcher img {
  width: 35px;
  height: 30px;
  margin-right: 8px;
}

body.light .language-switcher svg {
  filter: invert(1);
}

@media (max-width: 400px) {
  .header-textbox {
    left: 0;
    text-align: center;
    padding-inline: 0.6rem;
  }
  .language-switcher {
    flex-direction: column;
    width: 80%;
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.scroll-down-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow {
  display: block;
  width: 24px;
  height: 24px;
  border: solid var(--important);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(-10px) rotate(45deg);
  }
  60% {
    transform: translateY(-5px) rotate(45deg);
  }
}

/* --------------------------------- */
/* ----- Skills -----*/
/* --------------------------------- */

.category {
  margin-bottom: 40px;
  padding-block-start: var(--gutter-small);
}

.category h3 {
  margin-bottom: 20px;
  font-size: 1.75rem;
  color: var(--important);
}

.category h3::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background: #767676;
  border-radius: 5px;
  margin-top: 5px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
}

.item {
  text-align: center;
  padding: 25px;
  border-radius: 15px;
  background: #292929;
  transition: all 0.8s ease;
  box-shadow: 0px 0px 20px 0px rgb(255 255 255 / 15%);
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
}

body.light .item {
  background: #ffffff;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}

.item.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.item img {
  transition: all 0.4s;
  margin: 0 auto 15px;
  width: 100px;
  border-radius: 12px;
}

.item span {
  display: block;
  font-size: 1rem;
  color: var(--body);
}

.item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(0 0 0 / 60%), rgba(0, 123, 255, 0));
  transition: left 0.4s;
  z-index: 0;
}

body.light .item::before {
  background: linear-gradient(90deg, rgb(218 218 218 / 60%), rgba(0, 123, 255, 0));
}

.item:hover img {
    transform: scale(1.1);
}

.item:hover::before {
    left: 0;
}

@media (max-width: 633px) {
    .items {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    .full-width {
      grid-column: span 2;
      width: 100%;
  }
}

/* --------------------------------- */
/* ----- Certifications -----*/
/* --------------------------------- */

.work-boxes {
  padding-block-start: var(--gutter-x-large);
}

.work-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1045px) {
  .work-boxes {
    max-inline-size: fit-content;
    margin-inline: auto;
  }

  .work-box {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .work-img {
    margin-block-end: var(--gutter-medium);
  }
}

.work-box:not(:last-child) {
  margin-block-end: var(--gutter-huge);
}

@media (max-width: 1285px) {
  .work-box:not(:last-child) {
    margin-block-end: 8rem;
  }
}

.work-img,
.work-textbox {
  flex-basis: 49%;
}

.work-img {
  max-inline-size: 785px;
  transition: 0.6s all;
}

body.light .work-img {
  box-shadow: var(--shadow);
}

.work-textbox {
  max-inline-size: 445px;
}

@media (max-width: 885px) {
  .work h2 {
    margin-block-start: 45px;
  }
}

@media (max-width: 485px) {
  .work h2 {
    margin-block-start: 0;
  }
}

.work-text {
  margin-block: var(--gutter-micro);
}

.work-technologies {
  list-style-position: inside;
  list-style-type: disc;
  margin-block-end: var(--gutter-x-small);
}

.work-text,
.contact-text,
.work-technologies {
  font-weight: 300;
}

.work-textbox h3,
.work-text,
.work-technologies {
  --delay: 0.2s;
  animation: slide-up 0.6s cubic-bezier(0.16, 1, 0.3, 1) both;
  animation-play-state: paused;
}

.work-text {
  animation-delay: var(--delay);
}

.work-technologies {
  animation-delay: calc(var(--delay) * 1.5);
}

@keyframes slide-up {
  from {
    transform: translateY(45px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

/* --------------------------------- */
/* ----- Articles -----*/
/* --------------------------------- */

.article-boxes {
  display: flex;
  flex-flow: row wrap;
  gap: 3.5%;
  margin-block-start: var(--gutter-x-large);
}

.article-box {
  flex-basis: 31%;
  border: 1px solid var(--border);
  padding: var(--gutter-medium) var(--gutter-small);
  border-radius: var(--gutter-nano);
  background-color: var(--bg-color-secondary);
}

.article-textbox {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.article-text {
  font-size: var(--text-small);
  margin-block: var(--gutter-x-small);
}

.article-info {
  display: flex;
  justify-content: space-between;
  margin-block-start: auto;
}

.reaction-count {
  display: inline-flex;
  align-items: center;
  gap: var(--gutter-nano);
  font-size: initial;
}

@media (max-width: 985px) {
  .article-boxes {
    max-inline-size: 685px;
    margin-inline: auto;
    justify-content: center;
    gap: 4%;
  }

  .article-box:nth-of-type(2),
  .article-box:nth-of-type(3) {
    flex-basis: 48%;
  }

  .article-box:last-child {
    display: none;
  }
}

@media (max-width: 650px) {
  .article-box:nth-child(2),
  .article-box:nth-child(3),
  .article-box:last-child {
    flex-basis: 100%;
  }

  .featured-article {
    margin-block-end: 0;
  }

  .article-box:not(:last-child) {
    margin-block-end: var(--gutter-x-small);
  }

  .article-box:last-child {
    display: block;
  }
}

/* --------------------------------- */
/* ----- Featured article -----*/
/* --------------------------------- */

.featured-article {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 44.8px;
}

@media (max-width: 985px) {
  .featured-article {
    margin-block-end: 24.4px;
    flex-direction: column-reverse;
  }
}

.featured-article .article-textbox {
  flex-basis: 44%;
}

.featured-article h3,
.article-box h3 {
  margin-block-start: var(--gutter-x-small);
}

.featured-article .article-illustration {
  flex-basis: 50%;
}

.article-illustration img {
  border-radius: var(--gutter-nano);
}

.featured-article .article-text {
  font-size: var(--text-medium);
}

.featured-article .article-info {
  justify-content: flex-start;
  gap: var(--gutter-medium);
}

/* --------------------------------- */
/* ----- roadmaps -----*/
/* --------------------------------- */

.roadmaps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  margin-block-start: var(--gutter-x-large);
  list-style-type: none;
  background-image: linear-gradient(
    rgba(88, 88, 88, 0.297),
    rgba(214, 214, 214, 0.082)
  );
}

@media (max-width: 1100px) {
  .roadmaps {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 645px) {
  .roadmaps {
    grid-template-columns: 1fr;
  }
}

.roadmap {
  display: flex;
  flex-direction: column;
  padding: var(--gutter-small);
  background-color: var(--bg-color-primary);
}

.roadmap-text {
  font-size: var(--text-small);
}

.roadmap-title {
  margin-block-end: var(--gutter-x-small);
  display: flex;
  align-items: center;
  gap: var(--gutter-micro);
}

.roadmap-title-name {
  margin-block-end: 0.3rem;
}

.roadmap-title-name,
.roadmap-title-sub {
  font-size: initial;
}

.roadmap-title > img {
  block-size: 52px;
  inline-size: 52px;
  border-radius: 50%;
  background-color: var(--bg-color-secondary);
  box-shadow: rgb(255 255 255 / 58%) 0px 2px 4px, rgb(255 255 255 / 54%) -3px 5px 13px -3px, rgb(255 255 255 / 20%) 0px -3px 0px inset;
}

body.light .roadmap-title > img {
  box-shadow: rgb(0 0 0 / 58%) 0px 2px 4px, rgb(0 0 0 / 54%) -3px 5px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
}

/* --------------------------------- */
/* ----- Contact -----*/
/* --------------------------------- */

.contact-content {
  display: grid;
  grid-template-columns: minmax(245px, 35%) 1fr;
  margin-block: var(--gutter-x-large);
  border: 1px solid var(--border);
  border-radius: var(--gutter-nano);
}

@media (max-width: 1032px) {
  .contact-content {
    display: flex;
    flex-direction: column-reverse;
    max-inline-size: 845px;
    margin-inline: auto;
  }
}

.contact-textbox,
.contact-form {
  padding: var(--gutter-large) var(--gutter-small);
}

.hire-alert {
  display: inline-flex;
  align-items: center;
  font-size: initial;
  padding: var(--gutter-nano) var(--gutter-micro);
  border-radius: var(--gutter-small);
  position: relative;
  z-index: 1;
  margin-block-end: var(--gutter-small);
  color: var(--important);
}

.hire-alert a {
  color: #279FDA;
  text-decoration: none;
}

.hire-alert::before,
.hire-alert::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

.hire-alert::after {
  background-image: var(--gradient-border);
  z-index: -2;
}

.hire-alert::before {
  background-color: var(--bg-color-primary);
  inset: 1px;
  z-index: -1;
}

.indicator {
  display: inline-block;
  block-size: var(--gutter-nano);
  inline-size: var(--gutter-nano);
  border-radius: 50%;
  background-color: red;
  animation: blink 550ms alternate infinite var(--easing);
  margin-right: var(--gutter-nano);
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

.contact-text {
  margin-block-end: var(--gutter-small);
}

.signatures {
  inline-size: 250px;
}

body.light .signatures {
  filter: invert(1);
}

.contact-form {
  background-color: var(--bg-color-secondary);
  border-top-right-radius: var(--gutter-nano);
  border-bottom-right-radius: var(--gutter-nano);
}

.form-field label,
.form-field input,
.form-field textarea {
  display: block;
  width: 100%;
}

.form-field label {
  color: var(--important);
}

.form-field input,
.form-field textarea {
  font-size: var(--text-small);
  color: var(--sub);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--border);
  background-color: transparent;
}

.form-field input:focus,
.form-field textarea:focus {
  border-color: #888;
}

.form-field input,
.form-field textarea {
  margin-block-end: var(--gutter-small);
  padding: var(--gutter-nano);
  margin-inline: var(--gutter-nano);
}

.form-field label {
  font-size: var(--text-small);
  margin-block-end: var(--gutter-nano);
  margin-inline-start: var(--gutter-nano);
}

.contact-form button[type="submit"] {
  border: none;
}

#formMessage {
  position: fixed;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  display: none;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}


.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}


/* --------------------------------- */
/* ----- Footer -----*/
/* --------------------------------- */

.footer {
  border-top: 1px solid var(--border);
  padding-block: var(--gutter-x-large);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 875px) {
  .footer-content {
    flex-direction: column-reverse;
    gap: var(--gutter-small);
  }
  .footer-text {
    text-align: center;
  }
}

.footer-text {
  font-size: var(--text-small);
}

.footer-text a {
  color: var(--sub);
}

.footer-links {
  display: flex;
  gap: var(--gutter-small);
  list-style-type: none;
}

@media (max-width: 1040px) {
  .footer-links {
    gap: var(--gutter-micro);
  }
}

.footer-link img {
  block-size: 32px;
  inline-size: 32px;
}

.footer-link a {
  opacity: 0.875;
  transition: 225ms ease-in opacity;
}

.footer-link a:hover {
  opacity: 1;
}

body.dark .footer-link img {
  filter: invert(1);
}

/* --------------------------------- */
/* ----- Light switch -----*/
/* --------------------------------- */

.daynight {
  -webkit-tap-highlight-color: transparent;
  font-size: 0.48rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 120px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
  isolation: isolate;
}

.daynight__checkbox {
  appearance: none;
  pointer-events: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: inset 0 2.4px 2.4px 0 rgba(0, 0, 0, 0.5), inset 0 -2.4px 4.8px 0 rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.daynight__sky {
  display: block;
  width: 100%;
  height: 100%;
  padding: 4.8px;
  box-sizing: border-box;
  background-color: var(--day);
  transition: background var(--duration) var(--easing-new);
  isolation: isolate;
}

.daynight__sky::before, .daynight__sky:after {
  content: "";
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  width: 43.2px;
  height: 43.2px;
  left: 147.36px;
  top: 6.72px;
  transition: var(--duration) var(--easing-new);
  box-shadow: -48px 0 0 0 var(--cloud-front), -60.96px 12px 0 -4.8px var(--cloud-front), -79.2px 27.84px 0 0 var(--cloud-front), -96px 27.36px 0 -4.8px var(--cloud-front), -112.8px 24px 0 -5.76px var(--cloud-front), -134.4px 26.4px 0 -4.8px var(--cloud-front), -148.8px 36px 0 0 var(--cloud-front), 43.2px 4.8px 0 0 var(--cloud-front);
  animation: clouds 10s infinite var(--easing-clouds);
}

.daynight__sky::before {
  z-index: -1;
  box-shadow: -50.4px -10.56px 0 0 var(--cloud-back), -72px 0 0 -9.6px var(--cloud-back), -84px 8.64px 0 -4.8px var(--cloud-back), -98.4px 22.08px 0 0 var(--cloud-back), -117.6px 20.16px 0 0 var(--cloud-back), -136.8px 27.84px 0 0 var(--cloud-back), -151.2px 31.2px 0 0 var(--cloud-back);
  animation-delay: -5s;
  animation-duration: 8s;
}

:checked ~ .daynight__sky {
  background-color: var(--night);
}

:checked ~ .daynight__sky::before {
  transform: translateY(62.4px);
  opacity: 0;
}

:checked ~ .daynight__sky::after {
  transform: translateY(48px);
  opacity: 0;
}

.daynight__stars, .daynight__morestars {
  transition: var(--duration) var(--easing-new);
}

.daynight__stars::before, .daynight__morestars::before, .daynight__stars::after, .daynight__morestars::after {
  content: "✦";
  position: absolute;
  font-size: 6.48px;
  color: var(--star);
  opacity: 0;
  transform: translateY(-72px);
  transition: var(--duration) var(--easing-new);
  animation: stars var(--stars-duration, 7s) var(--stars-delay, 0s) infinite;
}

:checked ~ * .daynight__stars, :checked ~ * .daynight__morestars {
  opacity: 1;
}

:checked ~ * .daynight__stars::before, :checked ~ * .daynight__morestars::before, :checked ~ * .daynight__stars::after, :checked ~ * .daynight__morestars::after {
  transform: translateY(0);
}

.daynight__stars::before {
  left: 18.24px;
  top: 3.84px;
  text-shadow: 29.28px 5.28px;
}

.daynight__stars::after {
  font-size: 4.8px;
  left: 52.8px;
  top: 32.64px;
  --stars-duration: 9.1s;
  --stars-delay: -2.8s;
}

.daynight__morestars::before {
  font-size: 2.88px;
  left: 23.52px;
  top: 24.96px;
  text-shadow: 21.6px 9.12px, 62.88px -3.84px, 80.64px 21.12px, 21.6px 41.76px;
  --stars-duration: 5.6s;
  --stars-delay: -7s;
}

.daynight__morestars::after {
  font-size: 1.92px;
  left: 38.4px;
  top: 94.08px;
  text-shadow: 7.2px -10.08px, 80.16px -33.12px;
  --stars-duration: 11.2s;
  --stars-delay: -1.4s;
}

.daynight__sunmoon, .daynight__sunmoon::before {
  content: "";
  overflow: hidden;
  display: block;
  position: relative;
  width: 38.4px;
  height: 38.4px;
  border-radius: 50%;
  transition: transform var(--duration) var(--easing-new);
  background-color: var(--sun);
  box-shadow: 1.92px 1.92px 2.4px 0.48px rgba(0, 0, 0, 0.3), inset -0.96px -0.96px 2.4px 0 rgba(0, 0, 0, 0.4), inset 0.96px 0.96px 2.4px 0 #fffeff, 0 0 0 48px rgba(255, 255, 255, 0.07), 0 0 0 31.2px rgba(255, 255, 255, 0.07), 0 0 0 14.4px rgba(255, 255, 255, 0.07);
}

.daynight__sunmoon::before {
  box-shadow: 1.92px 1.92px 2.4px 0.48px rgba(0, 0, 0, 0.3), inset -0.96px -0.96px 2.4px 0 rgba(0, 0, 0, 0.4), inset 0.96px 0.96px 2.4px 0 #fffeff;
  background: radial-gradient(circle, #969db0 5.28px, #798090 6.24px, rgba(129, 136, 153, 0) 6.72px), radial-gradient(circle, #969db0 2.4px, #798090 3.36px, rgba(129, 136, 153, 0) 3.84px), radial-gradient(circle, #969db0 2.4px, #798090 3.36px, rgba(129, 136, 153, 0) 3.84px);
  background-position: -5.76px 3.36px, 0 -9.6px, 9.6px 6.72px;
  background-color: var(--moon);
  transform: translateX(50.4px) rotate(50deg);
  animation: moon 25s infinite linear;
}

:checked ~ * .daynight__sunmoon {
  transform: translateX(72px);
}

:checked ~ * .daynight__sunmoon::before {
  transform: translateX(0) rotate(0);
}

@keyframes stars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes clouds {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

@keyframes moon {
  to {
    background-position: 32.64px 3.36px, 38.4px -9.6px, 48px 6.72px;
  }
}